<p appMyColor>К этому абзацу применим диррективу appMyColor</p>
<p>К этому абзацу диррективу appMyColor применять не будем</p>
<hr />
<p appMouseEnterEvent>
  К этому абзацу применим диррективу appMouseEnterEvent При наведении будет
  эффект
</p>
<p>К этому абзацу диррективу appMouseEnterEvent применять не будем</p>
<hr />
<p appWithGetData="orange">
  К этому абзацу применим диррективу appWithGetData. Эта диррретива на вход
  принимает данные
</p>

<hr />
<!-- Отрендерит мэсседж counter раз -->
<p
  appWithParams
  [counter]="count"
  message="К этому абзацу применим диррективу appWithParams. Эта диррретива на вход получает параметры"
></p>
<hr />
<div>
  К кнопке применена дирректива для подтверждения действия

  <br />
  <button [appConfirmButton]="onDelete">
    Кнопка с диррективой для подтверждения
  </button>
</div>
<hr />
<div appMyCoordinates class="rect">
  к прямоунгольнику применена диррректива appMyCoordinates
</div>
<hr />
<button appButtonClickingStyle>
  Кнопка с дирррективой appButtonClickingStyle
</button>
<hr />
<hr />
<hr />
<h2>Немного о структурных диррективах</h2>
<p>
  ngIf под капотом создает абстракции 'ng-template' и в зависимости от значения
  рендерит их или нет. Использование звездочки - синтаксический сахар
</p>
<p *ngIf="true">NGIF - true</p>
<p *ngIf="false">NGIF - false</p>

<p>
  Если условие true, от контент вынимается из 'ng-template' и помещается в
  отображаемый контейнер - тег без имени. Если false - контейнер отчиститься и
  будет пустым, его можно будет увидеть в ДОМ в виде комментария
</p>
<p>Под капотом ngif в конструктуре использует следующие абстракции:</p>
<p>
  templateRef - шаблон, который может использоваться для создания представления.
  Это типа 'ng-template'
</p>
<p>
  viewContainerRef - контейнер, содержащий представления. Это типа
  'ng-container'
</p>
<hr />
<p *appMyDelay="5000">
  К этому абзацу применена структурная дирректива с сипользованием вышеуказанных
  абстракций
</p>
